  body {
  font-size: 10pt;
  font-family: monospace, times, Serif;
  color:#085A0D;
  background-image: url("assets/images/index.jpg");
  background-size:900px 506px ;
  background-repeat: no-repeat;

  -webkit-animation: background 3s cubic-bezier(1,0,0,1) infinite;
  animation: background 3s cubic-bezier(1,0,0,1) infinite; 

  }

@keyframes background {
  20% { background-color: white; }
  33% { background-color: #FFFBF5; }  
  67% { background-color: #EFFBF5; }

}

     .title {
        font-family: Impact, Charcoal, sans-serif;
        text-transform: uppercase;
        position: fixed;
        bottom: -200px;
        left: 0;
        font-size: 400px;
        line-height: 0;
        width: 1000000000px;
        z-index: -1000;
        -webkit-transition: 50s; /* Safari */
        transition: 30s;
        color: black;
      }
      
      .title:hover {
        left: -10000px;
      }
